body {
  display: grid;
  grid-template-areas: 
  "aside header"
  "aside main";
  grid-template-columns: auto 1fr;
}

.menu-lateral {
  grid-area: aside;
  
}

.cabecalho {
  grid-area: header;
}

.principal {
  grid-area: main;
}