/* Define a seção como um contêiner grid */
.secao {
  display: grid;
  /* Ativa o layout de grid para organizar os elementos filhos */

  /* Alinha os elementos filhos ao final de suas células no grid */
  align-items: end;

  /* Define o espaçamento entre as linhas no grid */
  row-gap: 2rem;
  /* Adiciona um espaçamento de 2rem entre as linhas */
}

/* Configuração das linhas para seções horizontais e verticais */
.secao-horizontal,
.secao-vertical {
  /* Define duas linhas no grid */
  /* Primeira linha com 70px de altura, segunda linha com altura automática */
  grid-template-rows: 70px auto;
}

/* Define a área de cartões na seção horizontal como um contêiner grid */
.secao-horizontal .secao__cartoes {
  display: grid;
  /* Ativa o layout de grid para os cartões */

  /* Configuração das colunas do grid */
  /* repeat(auto-fit, ...) cria um número dinâmico de colunas que se ajustam ao espaço disponível */
  /* minmax(...) define o tamanho mínimo e máximo das colunas */
  grid-template-columns: repeat(auto-fit,
      minmax(min(80%/2, max(350px, 80%/3)),
        1fr));

  /* Define o espaçamento entre os itens no grid */
  gap: 1.25rem;
  /* Espaçamento de 1.25rem entre os itens */
}

/* Define o layout para a seção vertical */
.secao-vertical {
  grid-template-columns: 1fr auto;
  /* Cria duas colunas:
     - A primeira ocupa todo o espaço disponível (1fr).
     - A segunda tem tamanho automático com base no conteúdo. */
}

/* Define o estilo para o contêiner dos cartões dentro da seção vertical */
.secao-vertical .secao__cartoes {
  display: grid;
  /* Aplica o layout grid ao contêiner dos cartões. */

  grid-auto-flow: column;
  /* Organiza os itens do grid automaticamente no sentido das colunas. */

  overflow-x: scroll;
  /* Adiciona rolagem horizontal caso o conteúdo exceda a largura disponível. */

  overflow-y: hidden;
  /* Oculta qualquer rolagem vertical, forçando o conteúdo a se manter na altura do contêiner. */

  grid-column: 1 / 3;
  /* Faz o contêiner ocupar a largura total das colunas definidas na grid pai
     (da coluna 1 até a coluna 3). */

  column-gap: 1.25rem;
  /* Define um espaçamento de 1.25rem entre as colunas. */
}

/* Define o estilo para os links dentro do contêiner de cartões na seção vertical */
.secao-vertical .secao__cartoes a {
  display: flex;
  /* Aplica o layout flexível ao link, permitindo organizar seus filhos em um eixo. */

  flex-direction: column;
  /* Organiza os elementos filhos do link em uma direção vertical (de cima para baixo). */

  height: 100%;
  /* Faz com que o link ocupe toda a altura disponível dentro de seu contêiner pai. */
}

/* Define o estilo para o título do cartão dentro do contêiner de cartões */
.secao-vertical .secao__cartoes .cartao__titulo {
  flex-grow: 1;
  /* Faz com que o título ocupe todo o espaço vertical restante disponível dentro do contêiner pai. */
}